.contacts {
  width: 100%;

  @media (min-width: $tableW) {
    padding-left: 55px;
  }

  @media (min-width: $desktopW) {
    display: flex;
    width: 100px;
    flex: 0 0 100px;
    padding-left: 0;
  }
}
.contacts__item {
  display: flex;
  align-items: center;
  transition: 0.3s ease;

  @media (min-width: $desktopW) {
    flex: 0 0 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    color: $basic_yellow;
  }

  &:active {
    color: darken($basic_yellow, 10%);
  }
}

.contacts__icon {
  flex: 0 0 45px;
  height: 45px;

  background-color: $dark-blue;
  border-radius: 50%;
  margin-right: 16px;
  transition: 0.3s ease;

  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tableW) {
    flex: 0 0 68px;
    height: 68px;
    margin-right: 23px;
  }

  @media (min-width: $desktopW) {
    margin-right: 0;
    flex: 0 0 50px;
    height: 50px;
  }
}
.contacts__text {
  line-height: calc(18/16);
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tableW) {
    font-size: 28px;
    line-height: 1;
  }

  @media (min-width: $desktopW) {
    font-size: 0;
  }
}

.contacts__item--mail .contacts__icon {
  background-size: 24px 25px;
  background-image: url('@img/icons/icons.svg#icon_mail');

  @media (min-width: $tableW) {
    background-size: 36px 38px;
  }

  @media (min-width: $desktopW) {
    background-color: $special_yellow_dark;
    background-size: 16px 14px;
    background-image: url('@img/icons/icons.svg#icon_mail-black');

    &:hover,
    &:focus {
      background-color: darken($special_yellow_dark, 20%);
    }
    
    &:active {
      opacity: 0.3;
    }
  }  
}

.contacts__item--phone .contacts__icon {
  background-size: 18px 17px;
  background-image: url('@img/icons/icons.svg#icon_telephone');

  @media (min-width: $tableW) {
    background-size: 27px 26px;
  }

  @media (min-width: $desktopW) {
    background-color: $special_orange;
    background-size: 18px 18px;
    background-image: url('@img/icons/icons.svg#icon_call');

    &:hover,
    &:focus {
      background-color: darken($special_orange, 20%);
    }

    &:active {
      opacity: 0.3;
    }
  }  
}