.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;

  @media (min-width: $desktopW) {
    width: 559px;
  }
}
.countries__item {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 100%;
  max-width: 300px;
  margin-bottom: 8px;

  @media (min-width: $tableW) {
    display: flex;
    align-items: flex-start;
    max-width: none;
    border-radius: 20px;
    margin-bottom: 11px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $desktopW) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 81px; 
        background-image: url('@img/flags/fade.png');
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
      }
    }
  }
}


.countries__img {
  height: 110px;

  @media (min-width: $tableW) {
    flex-shrink: 0;
    width: 192px;
    height: 100%;
    order: 1;
    margin-left: auto;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.countries__body {
  position: relative;
  padding: 25px;
  display: flex;
  margin-top: -10px;

  border-radius: 10px;
  background-color: #ffffff;

  @media (min-width: $tableW) {
    display: block;
    margin: 0;
    flex: 1 1 auto;
    padding: 27px 27px 20px 27px;
  }
}
.countries__img-flag {
  position: absolute;
  top: -15px;
  left: 25px;
  width: 35px;
  height: 24px;
  z-index: 2; 

  @media (min-width: $tableW) {
    top: 17px;
    height: 47px;
    width: 70px;
    left:auto;
    right: -40px;
  }
}

.countries__title {
  margin: 0;
  font-size: calcFluidFontSize(21, 24, 320, 768);
  line-height: 1;
  font-weight: 700;

  @media (min-width: $tableW) {
    font-size: 24px;
    margin-bottom: 9px;
  }
}
.countries__subtitle {
  margin: 0;
  font-weight: 500;
  line-height: calc(18 / 16);
  font-size: calcFluidFontSize(16, 20, 320, 768);
  color: $special_grey;
  opacity: 0.3;

  @media (min-width: $tableW) {
    line-height: 1;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.countries__people {
  position: relative;
  font-weight: 500;
  margin: 0;
  padding-left: 20px;
  margin-left: auto;
  color: rgba($special_grey, 0.3);

  background-image: url("@img/icons/icons.svg#icon_user");
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 14px 14px;

  @media (min-width: $tableW) {
    font-size: 20px;
    line-height: 1;
    background-size: 24px 24px;
    padding-left: 30px;
    background-position: left top;
  }
}
