.header {
  background-color: $accent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.header--opened  {
  .header__body {
    display: block;
  }

  .header__burger {
    &::after,
    &::before {
      background-color: #cccccc;
    }

    &::after {
      transform: rotate(-45deg);
      top: 8px;
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}

.header__top {
  padding: 18px 0;
}
.header__container-top {
  position: relative;
  display: flex;
  align-items: center;
}

.header__body {
  z-index: 4;

  @media (max-width: 1439px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 27px 0 45px;
    
    background-color: #ffffff;
  }

  .header__logo {
    display: block;
    margin-bottom: 44px;
  }
}

.header__nav {
  margin-bottom: 40px;
}

.header__login {
  margin-bottom: 50px;
}

.header__contacts {
  margin-bottom: 40px;
}
