.nav-header {
  text-align: center;
}

.nav-header__link {
  font-weight: 500;
  color: #192144;
  font-size: 30px;
  line-height: calc(35/30);
  text-transform: uppercase;  
  transition: color 0.3s ease;
  
  &:hover,
  &:focus {
    color: $basic_yellow;
  }

  &:active {
    opacity: 0.3;
  }
}
