.preview {
  position: relative;
  overflow: hidden;
  padding-bottom: 39px;


  @media (min-width: $tableW) {
    padding-bottom: 96px;
  }

  @media (min-width: $desktopW) {
    padding-bottom: 123px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("@img/travel/traveller-illustration-mobile.png"), url("@img/travel/globe-back-mobile.jpg");
    background-position: 63% bottom, bottom;
    background-size: 192px 255px, cover;
    height: 385px;

    @media (min-resolution: 2dppx) and (min-width: $mobileW) {
      background-image: url("@img/travel/traveller-illustration-mobile@2x.png"),
        url("@img/travel/globe-back-mobile.jpg");
    }

    @media (min-width: $tableW) {
      top: 250px;
      height: 451px;
      background-image: url("@img/travel/traveller-illustration-tablet1.png"), url("@img/travel/globe-back-desk.jpg");
      background-size: 372px 451px, cover;
      background-position: 72% bottom, 0 0;
    }

    @media (min-resolution: 2dppx) and (min-width: $tableW) {
      background-image: url("@img/travel/traveller-illustration-tablet1@2x.png"), url("@img/travel/globe-back-desk.jpg");
    }

    @media (min-width: $desktopW) {
      height: 100%;
      min-height: 640px;
      top: 0;
      background-image: url("@img/travel/traveller-illustration-desktop.png"), url("@img/travel/globe-back-desktop.png");
      background-size: 431px 640px, 1440px 750px;
      background-position: 60% top, left -150px;
    }
    @media (min-resolution: 2dppx) and (min-width: $desktopW) {
      background-image: url("@img/travel/traveller-illustration-desktop@2x.png"), url("@img/travel/globe-back-desktop.png");
    }
  }
}

.preview__container {
  @media (min-width: $desktopW) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.preview__title {
  text-align: center;
  margin: 0;
  margin-bottom: 245px;
  font-size: calcFluidFontSize(36,60,320,768);
  line-height: calc(40/36);
  font-weight: 700;

  @media (min-width: $tableW) {
    font-size: 60px;
    line-height: calc(70/60);
    margin-bottom: 90px;
  }

  @media (min-width: $desktopW) {
    text-align: left;
    padding-top: 53px;
    padding-left: 70px;
  }
}
.preview__top-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 28px;

  @media (min-width: $tableW) {
    display: none;
  }
}
.preview__contacts {
  display: flex;
}

.preview .contacts__item {
  flex: 0 0 40px;
  height: 40px;
}

.preview .contacts__text {
  font-size: 0;
}

.preview .contacts__icon {
  margin-right: 0;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;
}

.preview .contacts__item--mail .contacts__icon {
  background-color: $special_yellow_dark;
  background-size: 16px 14px;
  background-image: url("@img/icons/icons.svg#icon_mail-black");

  &:hover,
  &:focus {
    background-color: darken($special_yellow_dark, 20%);
  }

  &:active {
    opacity: 0.3;
  }
}

.preview .contacts__item--phone .contacts__icon {
  background-color: $special_orange;
  background-size: 18px 18px;
  background-image: url("@img/icons/icons.svg#icon_call");

  &:hover,
  &:focus {
    background-color: darken($special_orange, 20%);
  }

  &:active {
    opacity: 0.3;
  }
}
.preview__login {
  min-height: 40px;
  flex: 1 0 190px;
  width: 190px;
  line-height: calc(20 / 17);
}

.preview__quote {
  padding-left: 25px;
  margin: 0;
  width: 186px;
  margin-bottom: 29px;

  @media (min-width: $tableW) {
    width: 42.87%;
    padding-left: 32px;
    margin-bottom: 213px;
  }

  @media (min-width: $desktopW) {
    width: 45%;
    padding-top: 62px;
    padding-right: 30px;
    padding-left: 0;
    margin-left: auto;
    margin-bottom: 115px
  }
}

.quote__item {
  margin: 0;

  @media (min-width: $tableW) {
    font-size: 28px;
    line-height: calc(33/28);
  }

  &:not(:last-child) {
    margin-bottom: 18px;

    @media (min-width: $tableW) {
      margin-bottom: 45px;
    }
  }
}

b.quote__item  {
  font-weight: 700;
  
  @media (min-width: $tableW) {
    font-size: 21px;
    line-height: calc(25/21);
  }
}

.preview__list {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $tableW) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktopW) {
    grid-column: 1 / 3;
    grid-template-columns: repeat(4, 1fr);
  }
}
.preview__item {
  font-size: 18px;
  line-height: 1;
  color: $accent;
  padding: 22px 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tableW) {
    padding: 30px 33px 24px 33px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktopW) {
    padding: 30px 30px 30px 35px;
  }

  &:nth-child(1) {
    background-color: $special_orange;
  }
  &:nth-child(2) {
    background-color: #FFA530;
  }
  &:nth-child(3) {
    background-color: $special_yellow_dark;
  }
  &:nth-child(4) {
    background-color: $basic_yellow;
  }

  span {
    &:first-child {
      flex: 0 0 140px;

      @media (min-width: $tableW) {
        flex: 0 0 210px;
        font-size: 24px;
        margin-bottom: 8px;
      }

      @media (min-width: $desktopW) {
        margin: 0;
      }
    }
    &:last-child {
      color: #ffffff;

      @media (min-width: $tableW) {
        flex: 1 1 100%;
        font-size: 30px;
      }

      @media (min-width: $desktopW) {
        flex: 0 0 auto;
        font-size: 24px;
      }
    }
  }
}
